body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.blog-header {
    text-align: center; /* Center the text */
    font-size: 2.5em; /* Set the font size */
    color: #333; /* Dark gray color for the text */
    margin: 20px 0; /* Add vertical spacing */
    font-weight: bold; /* Make the text bold */
    letter-spacing: 1px; /* Add some space between letters */
    border-bottom: 2px solid #ECDFCC; /* Optional: Add a bottom border */
    padding-bottom: 10px; /* Space between the text and border */
}

.blog-container {
    max-width: 600px;
    margin: auto;
}

.no-uline {
    text-decoration: none;
    color: #000000;
}

.blog-post {
    background: white;
    max-width: 100;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.blog-post:hover {
    transform: translateY(-5px); /* Lift the card up */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.blog-title {
    margin: 0;
}

.blog-date {
    margin-top: 5px;
    color:#666;
    font-size: 15px;
}

.sidebar-card {
    width: 200px; /* Adjust width as needed */
    margin-left: 0px; /* Spacing between blog posts and the sidebar card */
    margin-right: 50px;
    margin-top: 50px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* side card info */
.card-img {
    max-width: 100%; /* Scale the image to fit the container */
    height: auto; /* Maintain aspect ratio */
}

.sidebar-card h3 {
    margin-top: 0; /* Removes top margin for the heading */
}

.sidebar-card p {
    font-size: 16px;
    color: #666;
}

.container {
    display: flex; /* Aligns nav, blog container, and sidebar side by side */
    align-items: flex-start; /* Aligns items to the top */
}

.profile-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 20px 0;
}

.profile-item {
    display: flex;
    align-items: center; 
    margin: 10px 0;
}

.profile-image {
    width: 25px;
    height: 25px; 
    border-radius: 0%; 
    margin-right: 10px; 
}

.profile-link {
    font-size: 16px; 
    color: #666; 
    text-decoration: none; 
}

.profile-link:hover {
    text-decoration:underline;
}

/* the tags have different 'emotions' */
.philosophical-tag {
    display: inline-block;
    background: #725d8280;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.pinned-tag {
    display: inline-block;
    background: #830a0a80;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.work-tag {
    display: inline-block;
    background: #70809080;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.health-tag {
    display: inline-block;
    background: #83b68380;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.travel-tag {
    display: inline-block;
    background: #87CEEB80;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.culture-tag {
    display: inline-block;
    background: #FF634780;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.tech-tag {
    display: inline-block;
    background: #C0C0C080;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}
.edu-tag {
    display: inline-block;
    background: #a9a58480;
    color: #FFFFFF;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}

/* footer */
